<% content_for(:title, @channel.title.truncate(50)) %>

<div class="col-xs-12 channel-top">
  <div class="channel-top__navbar-left panel">
    <div class="panel-body">
      <div class="channel-top__image" style="background-image: url(<%= image_url_for(@channel) %>)"></div>
      <h3><center><%= @channel.title %></center></h3>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="...">
      <a class="btn btn-default" target="_blank" href="<%= @channel.site_url %>">
        <i class="fa fa-link"></i>
        <%= t(:access_website) %>
      </a>
    </div>
  </div>
  <div class="channel-top__info panel panel-default">
    <div class="panel-heading">
      <h3><i class="fa fa-podcast"></i> <%= t(:episode, count: 2) %></h3>
    </div>
    <div class="panel-body">
      <% @episodes.each do |episode| %>
        <a class="col-xs-12 channel-episode" href="<%= episode_path(@channel, episode) %>">
          <h4><%= episode.title %></h4>
          <p><%= html_clean(episode.summary) %></p>
          <h5 class="channel-episode__duration">--:--:--</h5>
        </a>
      <% end %>
    </div>
    <div "row pagination">
      <%= paginate @episodes %>
    </div>
  </div>
</div>
