<% content_for(:title, @channel.title.truncate(50)) %>
<%= render partial: "channels/item/meta", locals: { channel: @channel } %>

<div class="col-xs-12 channel-top">
  <div class="channel-top__navbar-left panel">
    <div class="panel-body">
      <div class="channel-top__image" style="background-image: url(<%= image_url_for(@channel) %>)"></div>
    </div>
    <div class="panel-footer">
      <a href="<%= channel_path(@channel) %>" alt="<%= t(:access_website) %>">
        <h4 class="footer-channel-card"><%= @channel.title %></h4>
      </a>
      <p class="footer-channel-description"><%= @channel.description %></p>
    </div>
    <div class="panel-footer footer-gategories">
      <p>
      <% @channel.categories.each do |category| %>
         <a href="<%= category_path(category) %>" class="label label-danger category-label">
          <%= category.icon_html %> <%= category.title %>
        </a>
      <% end %>
      </p>
    </div>
  </div>
  <div class="channel-top__info panel panel-default">
    <div class="panel-heading">
      <h3><i class="fa fa-podcast"></i> <%= t(:episode, count: 2) %></h3>
    </div>
    <div class="panel-body">
      <% @episodes.each do |episode| %>
        <%= render partial: "episodes/item/channel_card", locals: { episode: episode } %>
      <% end %>
    </div>
    <div "row pagination">
      <%= paginate @episodes %>
    </div>
  </div>
</div>
