<% content_for(:title, @channel.title.truncate(50)) %>
<%= render partial: "channels/item/meta", locals: { channel: @channel } %>

<div class="col-xs-12 channel-top">
  <%= render partial: "channels/item/card", locals: { channel: @channel } %>
  <div class="channel-top__info panel panel-default">
    <div class="panel-heading">
      <h3><i class="fa fa-podcast"></i> <%= t(:episode, count: 2) %></h3>
    </div>
    <div class="panel-body">
      <% @episodes.each do |episode| %>
        <%= render partial: "episodes/item/channel_card", locals: { episode: episode } %>
      <% end %>
    </div>
    <div "row pagination">
      <%= paginate @episodes %>
    </div>
  </div>
</div>
