<div class="feedcast-player"
  data-title="<%= episode.title %>"
  data-media-url="<%= episode.audio.url %>"
  data-image-url="<%= image_url_for(@episode.channel) %>"
  data-download-url="<%= episode.audio.url %>"
  data-next-episode="<%= episode_path(next_episode.channel, next_episode) unless next_episode.nil? %>"></div>
