<% content_for(:title, @episode.title.truncate(50)) %>
<%= render partial: "episodes/item/meta", locals: { episode: @episode } %>

<div class="row">
<div class="col-xs-12 episode-show">
  <%= render partial: "channels/item/card", locals: { channel: @episode.channel } %>
  <div class="channel-top__info panel panel-default">
    <div class="panel-body">
      <%= render partial: "episodes/item/player", locals: { episode: @episode, next_episode: @episode.next } %>
      <p><%= simple_format(html_sanitize(@episode.summary)) %></p>
    </div>
    <div class="panel-footer">
      <div class="fc-episode-extra-info">
        <span class="published-at">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <%= t(:"episode.published_at", time_ago: time_ago_in_words(@episode.published_at)) %>
        </span>
        <% if not @episode.next.nil? %>
          <span class="next-episode">
            <i class="fa fa-play-circle" aria-hidden="true"></i>
            <%= link_to(t(:"episode.next", episode: @episode.next.title),
                        channel_episode_path(@episode.next.channel, @episode.next)) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<%= render partial: "episodes/comments" %>
