<% content_for(:title, @episode.title.truncate(50)) %>

<div class="row">
  <%= render partial: "channels/item/episode_card", locals: { episode: @episode } %>
  <div class="col-xs-12 col-sm-7 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <%= @episode.title %>
        </h3>
      </div>
      <div class="panel-body">
        <%= render partial: "episodes/item/player", locals: { episode: @episode, next_episode: @next_episode } %>
        <p><%= html_sanitize(@episode.summary) %></p>
      </div>
      <div class="panel-footer">
        <div class="fc-episode-extra-info">
          <p class="published-at">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <%= t(:"episode.published_at", time_ago: time_ago_in_words(@episode.published_at)) %>
          </p>
          <% if not @next_episode.nil? %>
            <p class="next-episode">
              <i class="fa fa-play-circle" aria-hidden="true"></i>
              <%= link_to(t(:"episode.next", episode: @next_episode.title).truncate(50),
                          episode_path(@next_episode.channel, @next_episode)) %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><%= t(:comment, count: 2) %></h3>
      </div>
      <div class="panel-body">
        <%= render partial: "episodes/comments" %>
      </div>
    </div>
  </div>
</div>
