<nav class="navbar navbar-default" id="subnav">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a class="subnav-link" href="<%= channels_path %>"><i class="fa fa-rss"></i> <%= t(:"channel.recent") %></a></li>
      <li><a class="subnav-link" href="<%= episodes_path %>"><i class="fa fa-history"></i> <%= t(:"episode.recent") %></a></li>
      <li><a class="subnav-link" href="<%= categories_path %>"><i class="fa fa-th-large"></i> <%= t(:category, count: 2) %></a></li>
    </ul>
  </div>
</nav>
