<!DOCTYPE html>
<html>
  <head>
    <title><%= application_title %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#2C3E50"/>
    <%= favicon_link_tag("logo.png") %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render partial: "layouts/navbar/top" %>
    <div class="content container">
      <%= yield %>
    </div>
  </body>

  <%= render partial: "layouts/google_analytics" %>
</html>
